<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskMaster</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <header>
            <h1><a href="/" class="header-title">TaskMaster</a></h1>
            <nav>
                @if (Context.Session.GetString("EstaLogin") == "true")
                {
                    <a href="/" class="nav-home">🏠 Inicio</a>
                    <div class="logged-in-badge">
                        <span class="badge-icon">👤</span>
                        <span class="badge-text">Conectado como <strong>@Context.Session.GetString("Username")</strong></span>
                    </div>
                }
                else
                {
                    <a href="/Account/Login">Login</a>
                    <a href="/Account/Registro">Registro</a>
                }
            </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        &copy; @DateTime.Now.Year - TP07_ROTH
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
